@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
:root {
  --main-color: #8321c9;
  --text-color: #ffff;
  --dark-gray-color: #303d4d;
  --light-pink-color: #c65569;
  ---purple-color: #522462;
  --dark-purple-color: #522462;
  --heading: "Poetsen One", sans-serif;
  --paragraph: "Lato", sans-serif;
  --text-large: 4rem; /*64px*/
  --text-heading: 3rem; /*48px*/
  --text-min-heaading: 2rem; /*32px*/
  --text-para: 1rem;
  --text-small-para: 0.5rem;
  --local-transition: 0.5s;
}

/* header seciton */
header {
  position: fixed;
  padding: 10px 20px;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 8px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  transition: var(--local-transition);
  font-weight: 500;
  font-family: sans-serif;
  border-bottom: 2px solid transparent;
}

header nav ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

.nav-logo h2 {
  color: var(--light-pink-color);
  font-weight: 800;
  font-family: var(--heading);
}

.search-box {
  /* transform: translateX(60px); */
  padding: 10px 20px;
  background: var(--text-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  /* box-sizing: border-box; */
}
.search-box input {
  background: transparent;
  outline: 0;
  border: 0;
}
.search-box img {
  border-radius: 50%;
  width: 10%;
}

/* hero-section */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 50px;
  color: var(--text-color);
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/images//hero-banner.jpg") no-repeat center center/cover;
  filter: brightness(0.5);
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* justify-content: ; */
}
.hero-content .hero-text {
  font-size: var(--text-heading);
  font-weight: 500;
  font-family: var(--heading);
  max-width: 600px;
  margin-bottom: 10px;
  text-align: end;
}

.call-to-action {
  padding: 15px 35px;
  background: var(--main-color);
  border-radius: 23px;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  text-align: left;
  margin: 8px 0px;
}
.hero-content p {
  font-family: var(--paragraph);
  font-size: 13px;
}

/* ============================== WROK SECTION ============================= */
.work {
  width: 100%;
  background: var(--dark-gray-color);
  color: var(--text-color);
}
.work-content {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.work-content h2 {
  font-family: var(--heading);
  font-weight: 400;
  margin-bottom: 5px;
}
.work-content p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
}

.round-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateY(35px);
  position: relative;
  top: 0;
  z-index: 1;
}
.round-ball span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--dark-gray-color);
}

/* ============================ servces section ================================ */
.services-banner {
  width: 100%;
  height: 70vh;
  background: rgba(255, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*NOT CONFIRMEND ABOUT THE LINE*/
}
.services-banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}
.services-banner-text h2 {
  font-size: var(--text-min-heaading);
  font-family: var(--heading);
}
.services-banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/images/packege-1.jpg") no-repeat center center/cover;
  filter: brightness(0.5);
}

.banner-2{
  background: hsla(285, 46%, 26%, 0.55);
 
}
.services-about {
  display: flex;
  gap: 20px;
}
.services-about-image {
  flex-basis: 60%;
}
.services-about-image img {
  width: 100%;
  height: 100%;
}
.services-about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-about-text h2 {
  font-family: var(--heading);
  font-size: var(--text-min-heaading);
  font-weight: 700;
}
.services-about-text p {
  margin-bottom: 10px;
  /* font-family: var(--paragraph); */
  line-height: 26px;
}
