@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
:root {
  --main-color: #8321c9;
  --text-color: #ffff;
  --dark-gray-color: #303d4d;
  --light-pink-color: #c65569;
  ---purple-color: #522462;
  --dark-purple-color: #522462;
  --heading: "Poetsen One", sans-serif;
  --paragraph: "Lato", sans-serif;
  --text-large: 4rem; /*64px*/
  --text-heading: 3rem; /*48px*/
  --text-min-heaading: 2rem; /*32px*/
  --text-para: 1rem;
  --text-small-para: 0.5rem;
  --local-transition: 0.5s;
}

/* header seciton */
header {
  position: fixed;
  padding: 5px 20px;
  width: 100%;
  transition: var(--local-transition);
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  align-items: center;
  z-index: 100;
}
header nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
}

header nav ul {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  transition: var(--local-transition);
  font-weight: 500;
  font-family: sans-serif;
  border-bottom: 2px solid transparent;
}

header nav ul li a:hover {
  border-bottom: 2px solid var(--text-color);
}

.nav-logo h2 {
  color: var(--light-pink-color);
  font-weight: 800;
  font-family: var(--heading);
}

.search-box {
  /* transform: translateX(60px); */
  padding: 10px 20px;
  background: var(--text-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  /* box-sizing: border-box; */
}
.search-box input {
  background: transparent;
  outline: 0;
  border: 0;
}
.search-box img {
  border-radius: 50%;
  width: 10%;
}

/* dynamic class using js */
.scrolled {
  background: #212121;
  padding: 10px 20px;
  z-index: 100;
}

.hamburger {
  display: none;
  font-family: monospace;
  z-index: 10000;
  background: var(--text-color);
  padding: 5px 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}
/* ===================== hero-section =================== */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 50px;
  color: var(--text-color);
}

/* .hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/images/pexels-photo-28158788.jpeg") no-repeat center center/cover;
  filter: brightness(0.5);
  object-position: center;
object-fit: cover;
} */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* justify-content: ; */
}
.hero-content .hero-text {
  font-size: var(--text-heading);
  font-weight: 500;
  font-family: var(--heading);
  max-width: 600px;
  margin-bottom: 10px;
  text-align: end;
}

.call-to-action {
  padding: 15px 35px;
  background: var(--main-color);
  border-radius: 23px;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  text-align: left;
  margin: 8px 0px;
  cursor: pointer;
  transition: var(--local-transition);
}
.call-to-action:hover {
  scale: 1.051;
}
.hero-content p {
  font-family: var(--paragraph);
  font-size: 13px;
}

.video-banner {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;
  object-position: center;
  object-fit: contain;
  /* filter: brightness(0.5); */
  overflow: hidden;
}
.video-banner video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  filter: brightness(0.52);
}
/* ================== WROK SECTION ===================== */
.work {
  width: 100%;
  background: var(--dark-gray-color);
  color: var(--text-color);
}
.work-content {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
.work-content h2 {
  font-family: var(--heading);
  font-weight: 400;
  margin-bottom: 5px;
}
.work-content p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
}

.round-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translateY(35px);
  position: relative;
  top: 0;
  z-index: 1;
}
.round-ball span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--dark-gray-color);
}

/* =================== servces section ========================== */
.services-banner {
  width: 100%;
  height: 70vh;
  background: rgba(255, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*NOT CONFIRMEND ABOUT THE LINE*/
}
.services-banner-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
}
.services-banner-text h2 {
  font-size: var(--text-min-heaading);
  font-family: var(--heading);
}
.services-banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("images/hero.jpg") no-repeat top center/cover;
  filter: brightness(0.5);
  object-position: center;
}

.banner-2::before {
  background: url("images/pexels-photo-28158788.jpeg") no-repeat top
    center/cover;
}

.pinkish {
  background: var(--light-pink-color);
}
.banner-2 {
  background: hsla(285, 46%, 26%, 0.55);
}
.services-about {
  display: flex;
  background: var(--text-color);
  padding: 50px 70px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.services-about-image {
  max-width: 50%;
}
.services-about-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: skew(10deg);
  box-shadow: -4px 20px 19px 0px #212121;
}
.services-about-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}
.services-about-text h2 {
  font-family: var(--heading);
  font-size: var(--text-min-heaading);
  font-weight: 700;
}
.services-about-text p {
  margin-bottom: 10px;
  font-family: var(--paragraph);
  line-height: 26px;
  text-align: justify;
}

/* ======================= FAQ SECTION ============================= */
.faq-section {
  background: var(--dark-gray-color);
  padding: 100px;
}

.faq-content {
  margin-top: 20px;
}
.sec-heading {
  text-align: center;
}
.sec-heading h2 {
  font-size: var(--text-heading);
  font-family: var(--paragraph);
  color: var(--text-color);
}
.faq-box {
  margin-bottom: 20px;
}
.faq-box-heading {
  padding: 15px;
  background: #212121;
  color: var(--text-color);
  font-family: var(--heading);
  font-weight: 300;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.219);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-box-para {
  background: var(--text-color);
  color: var(--dark-gray-color);
  height: 0;
  margin: 0;
  padding: 0;
  transform: scaleY(0);
  /* display: none; */
  font-family: var(--paragraph);
  transition: var(--local-transition);
}
.faq-box-para-show {
  height: auto;
  margin: 0;
  padding: 20px;
  transform: scaleY(1);
  /* display: block; */
}

.faq-box-btn {
  transition: 0.5s;
  font-size: var(--text-min-heaading);
  font-family: var(--paragraph);
}
.rotate {
  transform: rotate(45deg);
}

/* ======================== CONTACT SECTION ========================= */
.contact-content {
  padding: 100px;
}
.contact-heading h2 {
  color: var(--text-color);
  /* color: var(--dark-gray-color); */
}

.contact-container {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  padding: 0 40px;
  align-items: center;
}
.contact-left {
  flex-basis: 60%;
  color: var(--text-color);
}
.contact-left h2 {
  font-size: var(--text-min-heaading);
  font-family: var(--heading);
  margin-bottom: 10px;
}
.contact-left p {
  font-family: var(--paragraph);
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 15px;
}
.contact-links .link {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  gap: 10px;
  padding: 3px 6px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  max-width: 70%;
}
.contact-links .link img {
  width: 30px;
  border-radius: 50%;
}
.contact-links .link a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--paragraph);
  font-size: 16px;
}
.contact-right {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-feilds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
  padding: 20px;
}

.form-feilds input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
.form-feilds input,
textarea {
  padding: 20px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  /* border: 2px solid var(--dark-gray-color); */
  width: 100%;
  box-sizing: border-box;
  font-family: var(--paragraph);
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.2);
  resize: none;
}

.form-btn {
  border: none;
  outline: none;
  padding: 12px 28px;
  background: var(--dark-gray-color);
  color: var(--text-color);
  font-family: var(--paragraph);
  font-size: 18px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: var(--local-transition);
}
.form-btn:hover {
  opacity: 0.9;
}

/* ================= FOOTER ================ */
.foot-cotent {
  background: black;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  font-family: var(--paragraph);
  font-size: 14px;
}

.foot2 {
  display: flex;
  gap: 10px;
}

.foot2 a {
  color: var(--text-color);
  text-decoration: none;
}
.foot2 span {
  font-size: 14px;
  font-weight: 100;
  color: var(--black-coral);
}

/* Rresponsive  */

@media (max-width: 1100px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-links .link {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .scrolled {
    background: transparent;
  }
  header {
    position: relative;
  }
  header nav {
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -500px;
    padding: 0 20px;
    background: #212121;
    max-width: 400px;
    z-index: 100;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: var(--local-transition);
  }
  .show-nav {
    right: 0;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 40px;
    top: 20px;
  }

  .services-about {
    flex-direction: column;
    padding: 20px;
  }
  .services-about-text {
    max-width: 80%;
    padding: 20px 0;
  }
  .services-about-text h2 {
    margin-bottom: 10px;
  }
  .foot-cotent {
    padding: 20px;
  }
}

@media (max-width: 750px) {
  :root {
    --text-heading: 2rem;
  }
  .hero-content {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero-content .hero-text {
    max-width: 400px;
    padding: 0 15px;
    text-align: center;
  }
  .hero {
    padding: 0 10px;
  }
  .faq-section {
    padding: 100px 50px;
  }
  .contact-content {
    padding: 100px 10px;
  }
}
@media (max-width: 560px) {
  :root {
    --text-min-heaading: 1.5rem;
  }
  .foot-cotent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .work-content {
    grid-template-columns: 1fr;
    padding: 100px 50px;
  }
  .form-feilds {
    max-width: 240px;
  }
  .call-to-action {
    padding: 10px 20px;
  }
  .hero-content {
    padding: 0 15px;
  }
  .faq-section {
    padding: 50px 10px;
  }
  .faq-box-heading {
    font-size: var(--text-para);
  }
  .round-ball {
    transform: translateY(20px);
  }
  .round-ball span {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  :root {
    --text-heading: 1.8rem;
    --text-min-heading: 23px;
  }
  .work-content {
    padding: 50px 10px;
  }
  .foot-cotent {
    font-size: 0.7rem;
    padding: 10px;
  }
  header nav ul {
    width: 100%;
  }
  .services-about-text p {
    text-align: start;
  }
}
